dict.add.spl
my_scratch.tex
Session.vim
printme.ps
thesis_phd_yelk_online.pdf
thesis_phd_yelk_online.dvi
old
tmp
diff.*
*.zip
*.swp
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.bak
*.fls
*.lol
*.swo
